<div class="s-rail g-ltw">
  <div class="gm-accordion-container g-ltw">
    <ul>
      <li><%= link_to "模板管理", admin_templates_path %> </li>
      <li><%= link_to "模板资源管理", admin_skins_path %> </li>
    </ul>
  </div>
</div>