/* default
设置默认样式
************************************/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td{
	margin: 0;
	padding: 0;
}
body{
    overflow: auto; /* for ie */
}
object,textarea,img{vertical-align: top;}   /* space bug */

h1, h2, h3, h4, h5, h6{
	font-size: 100%;
}
ol, ul{
	list-style: none;
}
address, caption, cite, code, dfn, em, strong, th, var{
	font-style: normal;
	font-weight: normal;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img, a img{
	border: 0;
}
caption, th{
	text-align: left;
}
q:before, q:after{
	content: '';
}
a{
    text-decoration: none;
}
a:visited{
    color: #999;
}
a img{
    border: none;
}
/* 用于web app，继承父节点鼠标样式 */
/*
*{
    cursor: inherit;
}
*/