<div class="gm-bloc s-h-wrapper">
  <div class="gm-bloc-head">
    <h3 class="gm-bloc-title">
      添加文件
    </h3>
    <a href="#" class="toggle"></a>
  </div>
  <div class="gm-bloc-body">
    <%= form_tag create_file_admin_skins_path, :id => "form" do |f| %>
      <%=render "form" %>
    <%end%>
  </div>
</div>
